<div class="container">
  <div class="col-md-8">
    <h3>Project Manager</h3>
    <br />
    <label style="font-weight: bold; font-size: large;" (click)="addProject()">Add Project</label>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <label style="font-weight: bold; font-size: large;" (click)="addTask()"> Add Task</label>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <label style="font-weight: bold; font-size: large;" (click)="addUser()">Add User</label>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <label style="color: blue; font-weight: bold; font-size: large;">View Task</label>

    <table>
      <div class="form-group">
        <td><label style="font-weight: bold;" for="parent_task">Task:</label>
          <input type="text" [(ngModel)]="taskFilter.task" placeholder="task search" class="form-control"></td>
        <td><label style="font-weight: bold;" for="parent_task">Parent Task:</label>
          <input type="text" [(ngModel)]="taskFilter.parent_task" placeholder="parent task search" class="form-control">
        </td>
      </div>

      <div class="form-group">

        <td> <label style="font-weight: bold;" for="parent_task">Priority:</label>
          <input type="text" [(ngModel)]="taskFilter.priority" placeholder="priority search" class="form-control">
        </td>
        <td><label style="font-weight: bold;" for="parent_task">Start Date:</label>
          <input type="text" [(ngModel)]="taskFilter.start_date" placeholder="start date search" class="form-control">
        </td>
        <td><label style="font-weight: bold;" for="parent_task">End Date:</label>
          <input type="text" [(ngModel)]="taskFilter.end_date" placeholder="end date search" class="form-control">
        </td>

      </div>

    </table>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Task</th>
          <th>Parent</th>
          <th>Priority</th>
          <th>Start Date</th>
          <th>End Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let task of tasks  | filterBy: taskFilter">
          <td>{{task.task}}</td>
          <td>{{task.parent_task}}</td>
          <td>{{task.priority}}</td>
          <td>{{task.start_date}}</td>
          <td>{{task.end_date}}</td>
          <td><button *ngIf="task.finished == 'N'" class="btn btn-success" (click)="editTask(task)">Edit</button></td>
          <td><button *ngIf="task.finished == 'N'" class="btn btn-success" (click)="finishTask(task)">End Task</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>