<div class="container">
  <div class="col-md-9">
    <h3>Project Manager</h3>
    <br />
    <label style="font-weight: bold; font-size: large;" (click)="addProject()">Add Project</label>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <label style="font-weight: bold; font-size: large;" (click)="addTask()"> Add Task</label>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <label style="font-weight: bold; font-size: large;" (click)="addUser()">Add User</label>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <label style="color: blue; font-weight: bold; font-size: large;">View Task</label>

    <form>
      <div class="row">
        <div class="col-md-4">
          <div class="row">
            <div class="col-md-2">
              <label for="searchValue" class="mb-2 mr-sm-1">Task:</label>
            </div>
            <div class="col-md-10">
              <input type="text" class="form-control mb-2 mr-sm-2" id="searchValue" [(ngModel)]="taskFilter.task"
                name="searchValue">
            </div>
          </div>
        </div>

        <div class="col-md-2">
          <label i18n="@@project_id3">Sort Task By:</label>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-3">
              <button type="submit" (click)="sort('start_date')" class="btn btn-secondary">Start Date</button>
            </div>
            <div class="col-md-3">
              <button type="submit" (click)="sort('end_date')" class="btn btn-secondary">End Date</button>
            </div>
            <div class="col-md-3">
              <button type="submit" (click)="sort('priority')" class="btn btn-secondary">Priority</button>
            </div>
            <div class="col-md-3">
              <button type="submit" (click)="sort('status')" class="btn btn-secondary">Completed</button>
            </div>
          </div>
  
        </div>
      </div>


      <div class="row">
        <div class="col">
          <span layout="row">
            <hr flex />
            <hr flex /></span>
        </div>
      </div>

      <div *ngFor="let task of tasks | filterBy: taskFilter">
        <div class="row">
          <div class="col-md-3">
            <h6>Task</h6>
          </div>
          <div class="col-md-2">
            <h6>Parent</h6>
          </div>
          <div class="col-md-1">
            <h6>Priority</h6>
          </div>
          <div class="col-md-2">
            <h6>Start</h6>
          </div>
          <div class="col-md-2">
            <h6>End</h6>
          </div>
          <div class="col-md-1">
            <h6></h6>
          </div>
          <div class="col-md-1">
            <h6></h6>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <div class="rounded bg-secondary text-white">{{task.task}}</div>
          </div>
          <div class="col-md-2">
            <div *ngIf="task.parent_task != null" class="rounded bg-secondary text-white">
              {{task.parent_task}}</div>
          </div>
          <div class="col-md-1">
            {{task.priority}}
          </div>
          <div class="col-md-2">
            {{task.start_date | date: 'dd/MM/yyyy'}}
          </div>
          <div class="col-md-2">
            {{task.end_date | date: 'dd/MM/yyyy'}}
          </div>
          <div class="col-md-1">
            <div *ngIf="task.status == 'OPEN'">
              <button class="btn btn-secondary" (click)="editTask(task)">Edit</button>
            </div>
          </div>
          <div class="col-md-1">
            <div *ngIf="task.status == 'OPEN'">
              <button class="btn btn-secondary" (click)="endTask(task)">End Task</button>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <span layout="row">
              <hr flex />
              <hr flex /></span>
          </div>
        </div>

      </div>
    </form>
  </div>
</div>