<div class="container">
  <div class="col-md-8">
    <h3>Project Manager</h3>
    <br />
    <label style="font-weight: bold; font-size: large;" (click)="addProject()">Add Project</label>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <label style="color: blue; font-weight: bold; font-size: large;"> Add Task</label>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <label style="font-weight: bold; font-size: large;" (click)="addUser()">Add User</label>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <label style="font-weight: bold; font-size: large;" (click)="viewTask()">View Task</label>

    <form [formGroup]="addForm">
      <br />
      <input type="hidden" formControlName="task_id" id="task_id" value="" name="task_id">
      <div class="row">
        <div class="col-md-2">
          <label for="project_id" class="bold mb-2 mr-sm-2">Project:</label>
        </div>
        <div class="col-md-5">
          <input type="text" formControlName="project_id" class="form-control mb-2 mr-sm-2" id="project_id"
            placeholder="Search and Select Project" name="project_id" readonly=true
            [ngClass]="{ 'is-invalid': (addForm.controls.project_id.touched || submitted ) && addForm.controls.project_id.errors }">
          <div *ngIf="(addForm.controls.project_id.touched || submitted ) && addForm.controls.project_id.errors"
            class="invalid-feedback">
            <div *ngIf="addForm.controls.project_id.errors.required">Project Id is required</div>
          </div>
        </div>
        <div class="col-md-1">
          <button type="button" [disabled]="isEditTask || parentCheckbox" class="btn btn-secondary rounded-circle"
            (click)="open(projectContent)">Search</button>
        </div>

        <div class="col-md-4"></div>
      </div>

      <br />

      <div class="row">
        <div class="col-md-2">
          <label for="task" class="mb-2 mr-sm-1">Task:</label>
        </div>
        <div class="col-md-6">
          <input type="text" formControlName="task" class="form-control mb-2 mr-sm-2" id="task" placeholder="Task Name"
            name="task"
            [ngClass]="{ 'is-invalid': (addForm.controls.task.touched || submitted ) && addForm.controls.task.errors }">
          <div *ngIf="(addForm.controls.task.touched || submitted ) && addForm.controls.task.errors"
            class="invalid-feedback">
            <div *ngIf="addForm.controls.task.errors.required">Task name is required</div>
          </div>
        </div>
        <div class="col-md-4"></div>
      </div>

      <br />

      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4">
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" [(ngModel)]="parentCheckbox" [checked]="parentCheckbox"
                [ngModelOptions]="{standalone: true}" (change)="toggle()" name="checkParentTask" id="checkParentTask">
              Parent Task
            </label>
          </div>
        </div>
        <div class="col-md-6"></div>
      </div>

      <br />

      <div class="row">
        <div class="col-md-2">
          <label for="priority">Priority:</label>
        </div>
        <div class="col-md-6">
          <input type="hidden" [(ngModel)]="priority" formControlName="priority" name="priority" class="form-control"
            id="priority">
          <ng5-slider [(value)]="priority" [options]="options"></ng5-slider>
        </div>
        <div class="col-md-4"></div>
      </div>

      <br />

      <div class="row">
        <div class="col-md-2">
          <label for="parent_task" class="mb-2 mr-sm-1">Parent Task:</label>
        </div>
        <div class="col-md-5">
          <input type="text" formControlName="parent_task" class="form-control mb-2 mr-sm-2" id="parent_task"
            placeholder="Search and Select Parent Task" name="parentTaskId" readonly=true
            [ngClass]="{ 'is-invalid': (addForm.controls.parent_task.touched || submitted ) && addForm.controls.parent_task.errors }">

          <div *ngIf="(addForm.controls.parent_task.touched || submitted) && addForm.controls.parent_task.errors"
            class="invalid-feedback">
            <span *ngIf="addForm.controls.parent_task.errors.required">Please click on Search and Select a Parent
              Task</span>
          </div>
        </div>
        <div class="col-md-1">
          <button type="button" [disabled]="parentCheckbox" class="btn btn-secondary rounded-circle"
            (click)="open(parentContent)">Search</button>
        </div>
        <div class="col-md-4"></div>
      </div>

      <br />

      <div class="row">
        <div class="col-md-4">
          <div class="row">
            <div class="col-md-6">
              <label for="start_date" class="mb-2 mr-sm-1">Start Date:</label>
            </div>
            <div class="col-md-6">
              <input type="date" formControlName="start_date" class="form-control mb-2 mr-sm-2" id="start_date"
                placeholder="Enter Start Date" name="start_date"
                [ngClass]="{ 'is-invalid': (addForm.controls.start_date.touched || submitted ) && addForm.controls.start_date.errors }">
              <div *ngIf="(addForm.controls.start_date.touched || submitted ) && addForm.controls.start_date.errors"
                class="invalid-feedback">
                <div *ngIf="addForm.controls.start_date.errors.required">Start date is required</div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="row">
            <div class="col-md-6">
              <label for="end_date" class="mb-2 mr-sm-1">End Date:</label>
            </div>
            <div class="col-md-6">
              <input type="date" formControlName="end_date" class="form-control mb-2 mr-sm-2" id="end_date"
                placeholder="Enter End Date" name="end_date"
                [ngClass]="{ 'is-invalid': (addForm.controls.end_date.touched || submitted ) && addForm.controls.end_date.errors }">
              <div *ngIf="(addForm.controls.end_date.touched || submitted ) && addForm.controls.end_date.errors"
                class="invalid-feedback">
                <div *ngIf="addForm.controls.end_date.errors.required">End date is required</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4"></div>
      </div>

      <br />

      <button class="btn btn-secondary" (click)="onSubmit()">Add Task</button>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <button class="btn btn-secondary" (click)="resetTask()">Reset</button>
    </form>
  </div>

  <div>
      <ng-template #projectContent let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Project</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="dateOfBirth">Select a Project</label>
              <div class="input-group">
                <div *ngFor="let project of activeProjectList">
                  <br />
                  <input name="options" type="radio" value="{{project.project_id}}" (change)="modal.close(project)" />
                  {{project.project_name}}
                  <br />
                </div>
  
              </div>
            </div>
          </form>
        </div>
      </ng-template>
    </div>

</div>